.caja{
    background-color: red;
    border: 2px solid black;
    font-size: 2rem;
    text-align: center;
}

.caja-posicionada{
    background-color: aqua;
    border: 2px solid black;
    font-size: 2rem;
    text-align: center;

    /* grid-column: 2/4;
    grid-row: 2/4; */

    /* grid-column: span 4; */

    /* posicion de un solo elemento */
    justify-self: stretch;
}

.contenedor{
    background-color: antiquewhite;
    border: black solid 2px;

    height: 80vh;

    display: grid;

    /* Declaracion de filas y columnas */
    grid-template-columns: repeat(3,200px);
    grid-template-rows: repeat(3,200px);

    /* grid-template-columns: minmax(200px, 500px); */
    justify-items: stretch;
    align-items: stretch;

    justify-content: space-between;
    align-content: space-around;
}

/* Noticias  */

.grilla-noticias article:nth-child(1){
    background-color: antiquewhite;
    grid-row: span 2;
}
.grilla-noticias article:nth-child(2){
    background-color: darkgray;
}
.grilla-noticias article:nth-child(3){
    background-color: lavender;
}
.grilla-noticias article:nth-child(4){
    background-color: aquamarine;
}
.grilla-noticias article:nth-child(5){
    background-color: aqua;
}


.grilla-noticias{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: repeat(2, 350px);
    gap: 10px;

    padding: 0 10vw;
}