.contenedorarticulos{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
    gap: 1rem;
}

div img{
    width: 100%;
    height: auto;
}


.articulo__precio{
    padding-top: 0.5rem;
    display: inline-block;
    display: flex;
    justify-content: space-between;
}

.contenedorarticulos__articulo{
    padding: 1rem;
    border: 1px solid black;
    border-radius: 8px;
}
