*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

/* Header */
header{
    background-color: cadetblue;
    display: flex;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
}

/* barra nav */
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
    
}

/* Portada index */
.portada-index{
    background-color: bisque;
    height: 91vh;
    background-image:url(../img/img1.jpg);
    background-position: center;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;


}

.texto-portada{
    background-color: aquamarine;
    text-align: center;
    padding: 16px;
    border-radius: 10px;
}

/* Tarjetas de productos */
.tarjeta-producto img{
    width: 100%;
    height: 100%;
    padding: 16px;
}

.tarjeta-producto{
    padding: 16px;
    border: 2px solid black;
    border-radius: 10px;
    width: 250px;

}

.boton-tarjeta{
    background-color: beige;
    padding: 10px 8px;
    display: inline-block;
    color: black;
    border-radius: 10px;
}

.tarjeta-body{
    border-top: 2px solid black;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px
}