*{
    margin: 0px;
    padding: 0px;
    /*alto y ancho abarca todo, sumado bordes y padding*/
    box-sizing: border-box;
}

h1{
    color: red;
    background-color: aqua;
}

/* section article{
    background-color: cadetblue;
}selector descendente, padre e hijo */

h3{
    color:crimson;
}

.titulo-noticia{
    color: blue;
}

h1.titulo-noticia{
    color: green;
}

h2 , h3{
    color: yellow;
}

.fondo_rojo{
    background-color: red;
}

p{
    color: blue;
}

.parrafo{
    color: blue;
}

.portada{

    background-color: cadetblue;
    height: 650px;

    background-image: url("../img/img1.jpg");

    background-repeat: no-repeat;

    background-position: center;
    
    background-size: 650px;

    background-attachment: fixed;

}





.rem{
    font-size: 1rem;
}

.caja{
    border: solid 1px;
    background-color: blueviolet;
    width: 100px;
    height: 100px;
    
}

.caja-2{
    background-color: aqua;
    width: 100px;
    height: 100px;
}

.caja-3{
    background-color: blue;
    width: 100px;
    height: 100px;
}

.flex-container{
    background-color: yellow;
    height: 98vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* flex-flow: column wrap; */
    justify-content: center;

}
