h1{
    color: red;
    background-color: aqua;
}

/* section article{
    background-color: cadetblue;
}selector descendente, padre e hijo */

h3{
    color:crimson;
}

.titulo-noticia{
    color: blue;
}

h1.titulo-noticia{
    color: green;
}

h2 , h3{
    color: yellow;
}

.fondo_rojo{
    background-color: red;
}

p{
    color: blue;
}

.parrafo{
    color: blue;
}

.portada{

    background-color: cadetblue;
    height: 650px;

    background-image: url("../img/img1.jpg");

    background-repeat: no-repeat;

    background-position: center;
    
    background-size: 650px;

    background-attachment: fixed;

}

